{% extends 'base.html' %}
{% block content %}
    <div class="article">
        <form class="site-form" action="{% url 'articles:create' %)" method="post" enctype="multipart/form-data">
            <table>
                <tr>Nama : </tr>
                <tr>Dosen : </tr>
                <tr>Ruang : </tr>
                <tr>SKS : </tr>
                <tr>Semester : </tr>
            </table>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Create">
        </form>
    </div>
{% endblock %}
