{% extends 'base.html' %}
{% block content %}
    <div class="articles">
        {% for article in articles %}
            <div class="article">
                <h2>{{article.title}}</h2>
                <p>{{article.snippet}}</p>
                <p>{{article.date}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}