{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href ="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <p id ='about' class ="animated fadeIn">&emsp;Mi<span id ="message">si</span>
    </p>
    <script>
    const mHTML = document.getElementById('message'),
    messages = [
        'si',
        'chelle Shie',
    ];

    let currentMessage = 0;
    function typeMessage() {
        if (!messages[currentMessage]) {
            currentMessage = 0;
        }
        const currentStr = messages[currentMessage];
        currentStr.split();
        let part = '';
        let currentLetter = 0;
        let int1 = setInterval(()=>{
        if (!currentStr[currentLetter]) {
            currentMessage++;
            setTimeout(()=>{
                deleteMessage(part);
            }, 2500);
            clearInterval(int1);
        } else {
            part += currentStr[currentLetter++];
            mHTML.innerHTML = part;
        }
    }, 200);
}
    function deleteMessage(str) {
        let int = setInterval(()=>{
        if (str.length === 0) {
            setTimeout(()=>{
                typeMessage();
            }, 500);
            clearInterval(int); 
        } else {
            str = str.split('');
            str.pop();
            str = str.join('');
            mHTML.innerHTML = str;
        }
    },100);
}
typeMessage();

</script>
    {% block navbar %}
    {% endblock %}
    {% block content %}
    {% endblock %}
</body>
</html>